<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-style-mode" content="1"> <!-- 0 == light, 1 == dark -->

    <title> {{ headTitle }} || PortdexAI - AI SaaS Website HTML5 UI Kit</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    {{ css|default:'' }}

    <link rel="stylesheet" href="/static/css/plugins/animation.css">
    <link rel="stylesheet" href="/static/css/plugins/feature.css">
    <link rel="stylesheet" href="/static/css/plugins/magnify.min.css">
    <link rel="stylesheet" href="/static/css/plugins/slick.css">
    <link rel="stylesheet" href="/static/css/plugins/slick-theme.css">
    <link rel="stylesheet" href="/static/css/plugins/lightbox.css">
    <link rel="stylesheet" href="/static/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/plugins/prism.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>