<!-- Start Header Area  -->
<header abc class="rainbow-header header-default header-not-transparent header-sticky">
    <div class="container position-relative">
        <div class="row align-items-center row--0">
            <div class="col-lg-3 col-md-6 col-6">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <h3 class="theme-gradient">Portdex AI</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-6 position-static">
                <div class="header-right">

                    <nav class="mainmenu-nav d-none d-lg-block">
                        <ul class="mainmenu">
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'roadmap' %}">Roadmap</a></li>
                           
                            <!-- <li><a href="{% url 'pricing' %}">Pricing</a></li> -->
                            <li><a href="{% url 'signin' %}">Sign In</a></li>
                        </ul>
                    </nav>

                    <!-- Start Header Btn  -->
                    <div class="header-btn">
                        <a class="btn-default btn-small round" target="_blank" href="{% url 'textGenerator' %}">Get Started Free</a>
                    </div>
                    <!-- End Header Btn  -->

                    <!-- Start Tools Area -->
                   
                    <!-- End Tools Area -->

                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar ml--5 d-block d-lg-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End  header -->