<header class="rbt-dashboard-header rainbow-header header-default header-left-align rbt-fluid-header">
    <div class="container-fluid position-relative">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-6 col-7">
                <div class="header-left d-flex">
                    <div class="expand-btn-grp">
                        <button class="bg-solid-primary popup-dashboardleft-btn"><i class="feather-sidebar left"></i></button>
                    </div>
                    <div class="logo">
                        <a href="{% url 'index' %}">>
                            <h3 class="theme-gradient">Portdex AI</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-6 col-5">
                <div class="header-right">
                    <nav class="mainmenu-nav d-none d-lg-block text-center">
                        <ul class="mainmenu">
                            <li><a href="{% url 'dashboard' %}">Welcome</a></li>
                            
                          
                        </ul>
                    </nav>

                    

                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar mr--10 ml--10 d-block d-lg-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->

                    

                    <div class="expand-btn-grp @@display-class">
                        <button class="bg-solid-primary popup-dashboardright-btn"><i class="feather-sidebar right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>