<div class="popup-mobile-menu">
        <div class="inner-popup">
            <div class="header-top">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <h3 class="theme-gradient">Portdex AI</h3>
                    </a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>

            <div class="content">
                <ul class="mainmenu">
                    <li><a href="{% url 'dashboard' %}">Welcome</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'roadmap' %}">Roadmap</a></li>
                </ul>








                <div class="rbt-sm-separator"></div>
                <div class="rbt-default-sidebar-wrapper">
                    <nav class="mainmenu-nav">
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                            <li><a href="{% url 'dashboard' %}"><i class="feather-monitor"></i><span>Welcome</span></a></li>
                        </ul>
                        <div class="rbt-sm-separator"></div>
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                            <li><a href="{% url 'textGenerator' chat_id=chat_id %}"><img src="/static/images/generator-icon/text.png" alt="AI Generator"><span>Text Generator</span></a></li>

                        </ul>
                    </nav>

                    <div class="rbt-sm-separator"></div>

                    
                </div>
            </div>

            <!-- Start Header Btn  -->
            <div class="header-btn d-block d-md-none">
                <a class="btn-default @@btnClass" target="_blank" href="{% url 'textGenerator' chat_id=chat_id %}">Get Started Free</a>
            </div>
            <!-- End Header Btn  -->
        </div>
    </div>