{% extends '../layout/layout1.html' %}

{% block content %}

<div class="rbt-main-content">
    <div class="rbt-daynamic-page-content">

        <!-- Dashboard Center Content -->
        <div class="rbt-dashboard-content">
            <div class="content-page">

                <div class="chat-box-list pt--30" id="chatContainer">
                    <!-- Display each chat log for the specific chat_id -->
                    {% for log in chat_logs %}
                        <div class="chat-box author-speech bg-flashlight">
                            <div class="inner top-flashlight leftside light-xl">
                                <div class="chat-section">
                                    <div class="chat-content">
                                        <h6 class="title">You</h6>
                                        <p class="mb--20">{{ log.user_message|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-box ai-speech bg-flashlight">
                            <div class="inner top-flashlight leftside light-xl">
                                <div class="chat-section">
                                    <div class="chat-content">
                                        <h6 class="title">Portdex <span class="rainbow-badge-card">AI</span></h6>
                                        <p class="mb--20">{{ log.ai_response|safe }}</p>
                                        <div class="reaction-section">
                                            <div class="btn-grp">
                                                <div class="left-side-btn dropup">
                                                    <button data-bs-toggle="modal" data-bs-target="#shareModal" class="react-btn btn-default btn-small btn-border"><i class="feather-share"></i></button>
                                                    <button type="button" class="react-btn btn-default btn-small btn-border dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="feather-more-vertical"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#"><i class="feather-copy"></i> Copy</a></li>
                                                        <li><a class="dropdown-item" href="#"><i class="feather-tag"></i> Pin Chat</a></li>
                                                        <li><a class="dropdown-item" href="#"><i class="feather-file-text"></i> Rename</a></li>
                                                        <li><a class="dropdown-item delete-item" href="#"><i class="feather-trash-2"></i> Delete Chat</a></li>
                                                    </ul>
                                                </div>
                                                <div class="right-side-btn">
                                                    <button class="react-btn btn-default btn-small btn-border">
                                                        <i class="feather-repeat"></i><span>Regenerate</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Static Bar for Sending Messages -->
            <div class="rbt-static-bar">
                <form class="new-chat-form border-gradient" id="chatForm" data-chat-id="{{ chat_id }}" method="POST">

                    {% csrf_token %}
                    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
                    <input type="hidden" name="source" value="text_generator">
                    <textarea id="txtarea" name="userMessage" rows="1" placeholder="Send a message..."></textarea>
                    <div class="left-icons">
                        <div title="PortdexAI" class="form-icon icon-gpt">
                            <i class="feather-aperture"></i>
                        </div>
                    </div>
                    <div class="right-icons">
                        <div class="form-icon icon-plus" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Choose File">
                            <input type="file" class="input-file" name="myfile" id="fileInput" multiple onchange="displayAttachedFiles()">
                            <i class="feather-plus-circle"></i>
                        </div>
                      
                        <button type="submit" class="form-icon icon-send" id="sendButton" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Send message">
                            <i class="feather-send"></i>
                        </button>
                    </div>
                </form>
                <div id="chatContainer">
                    {% if reply %}
                        <p>{{ reply }}</p>
                    {% endif %}
                </div>
                
                <p class="b3 small-text">PortdexAI can make mistakes. Consider checking important information.</p>
            </div>
            
        </div>

        <!-- Dashboard Right Content -->
        <div class="rbt-right-side-panel popup-dashboardright-section">

            <div class="right-side-top">
                <a class="btn-default bg-solid-primary" data-bs-toggle="modal" data-bs-target="#newchatModal">
                    <span class="icon"><i class="feather-plus-circle"></i></span>
                    <span>New Chat</span>
                </a>
            </div>
            <div class="right-side-bottom">
                <!-- <div class="small-search search-section mb--20">
                    <input type="search" placeholder="Search Here...">
                    <i class="feather-search"></i>
                </div> -->

                <div class="chat-history-section">
                    <!-- <h6 class="title">Chat History</h6> -->
                    <ul class="chat-history-list">
                        {% for date_label, chats in chat_history.items %}
                            <li class="date-group">
                                <p>{{ date_label }}</p>
                                <ul>
                                    {% for chat in chats %}
                                        <li class="history-box">
                                            <a href="{% url 'financeverify' chat.chat_id %}">
                                                {{ chat.title }}
                                            </a>
                                            <div class="dropdown history-box-dropdown">
                                                <button type="button" class="more-info-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="feather-more-horizontal"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#"><i class="feather-refresh-cw"></i> Regenerate</a></li>
                                                    <li><a class="dropdown-item" href="#"><i class="feather-tag"></i> Pin Chat</a></li>
                                                    <li><a class="dropdown-item" href="#"><i class="feather-file-text"></i> Rename</a></li>
                                                    <li><a class="dropdown-item" href="#"><i class="feather-share-2"></i> Share</a></li>
                                                    <li><a class="dropdown-item delete-item" href="#"><i class="feather-trash-2"></i> Delete Chat</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                
                
            </div>
        </div>

    </div>
</div>

{% endblock content %}
