<!DOCTYPE html>
<html lang="en">

{% include '../partials/head.html' with headTitle=headTitle css='<link rel="stylesheet" href="/static/css/plugins/fontawesome-all.min.css"/>' %}

<body>
    <main class="page-wrapper">

        <!-- Start Header Top Area  -->
        {% include '../partials/headerTop.html' %}
        <!-- End Header Top Area  -->

        <div id="my_switcher" class="my_switcher">
            <ul>
                <li>
                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                        <img src="/static/images/light/switch/sun-01.svg" alt="Sun images"><span title="Light Mode"> Light</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                        <img src="/static/images/light/switch/vector.svg" alt="Vector Images"><span title="Dark Mode">
                            Dark</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Start Header Area  -->
        {% if header == "header" %}
            {% include '../partials/header.html' with toggle=toggle|default:"false" %}
        {% elif header == "header2" %}
            {% include '../partials/header2.html' %}
        {% elif header == "header3" %}
            {% include '../partials/header3.html' %}
        {% else %}
            {% include '../partials/header4.html' %}
        {% endif %}
    


        <!-- End Header Area  -->
        {% include '../partials/mobileMenu.html' %}

        <!-- Imroz Preloader -->
        {% include '../partials/preloader.html' %}

        <!-- Start Breadcrumb Area  -->

        {% include '../partials/breadcrumb.html' with title=title subTitle=subTitle %}

        {% block content %}

        {% endblock %} 

        <!-- Start Footer Area  -->
        {% include '../partials/footer.html' %}
        <!-- End Footer Area  -->

        <!-- Start Copy Right Area  -->
        {% include '../partials/copyright.html' %}
        <!-- End Copy Right Area  -->

        <!--back to top -->
        {% include '../partials/backToTop.html' %}

    </main>

    <!-- script -->
    {% include '../partials/script.html' %}

</body>

</html>