<!DOCTYPE html>
<html lang="en">

{% include '../partials/head.html' with headTitle=headTitle %}


<body>
    <main class="page-wrapper rbt-dashboard-page">
        <div class="rbt-panel-wrapper">

            <!-- start header -->
            {% include '../partials/header.html' with toggle=toggle|default:"false" %}
            <!-- End  header -->

            <!-- start mobilemenu -->
            {% include '../partials/mobileMenu.html' %}
            <!-- End  mobilemenu -->

            <!-- Imroz Preloader -->
            {% include '../partials/preloader.html' %}

            <!-- Start Left panel -->
            {% include '../partials/leftPanel.html' %}
            <!-- End Left panel -->

            {% block content %}

            {% endblock %} 

            <!--back to top -->
            {% include '../partials/backToTop.html' %}

        </div>

    </main>

    <!-- start script -->
    {% include '../partials/script.html' %}
    <!-- End  script -->

</body>

</html>